@import url("../Fonts/font.css");

body {
  background-color: rgba(154, 177, 219, 0.548);
  background-image: url(../image/image_bg.png);
  background-size: cover;
}

a {
  text-decoration: none;
}

/* --------------------------------- header --------------------------------- */

header {
  display: grid;
  grid-template-columns: 20% 40% 20%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header h1 {
  margin: 0;
  text-align: center;
  font-family: "kohoregular";
}

#title {
  display: inline-block;
  font-family: "cairoregular";
  position: relative;
  font-size: 2em;
  bottom: 10px;
}

#logo {
  height: 50px;
}

#deco {
  text-align: center;
  padding: 7px 10px;
  border-radius: 20px;
  background-color: #0074cb;
  color: white;
  font-size: 1.3em;
  font-family: "kohoregular";
  box-shadow: 3px 3px 5px rgb(139, 139, 139);
}

/* ---------------------------------- Main ---------------------------------- */

#main {
  width: 40%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

#main ul {
  padding: 0;
}

#main a {
  padding: 7px 10px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 2em;
}

#main li {
  background-color: #0074cb;
  list-style: none;
  margin-bottom: 2em;
  font-family: "kohoregular";
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgb(139, 139, 139);
}
